<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Git Markdown. A markdown editor with github integration for your phone.</title>
    <meta name="keywords" content="Git, Markdown, Github, Editor, iPhone, iPad, iTunes">
    <meta name="description" content="Git Markdown. A markdown editor with github integration for your phone.">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <!-- LEFT -->
      <div class="inline-block width-400">
        <div class=" margin-10">
          <h2>Git Markdown</h2>
          <p>A markdown editor with github integration for your phone.</p>
          <ol>
            <li>Login with GitHub</li>
            <li>Edit and Preview your Markdown.</li>
            <li>Push.</li>
          </ol>
          <p>A tool for anyone writing markdown and pushing to Github.</p>

          <div class="">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Who&#39;s in need of a slick markdown editor with seamless <a href="https://twitter.com/github">@GitHub</a> integration for their phone?</p>&mdash; Kahne Raja (@KahneRaja) <a href="https://twitter.com/KahneRaja/status/857049386634944512">April 26, 2017</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="">
            <div class="padding-2">
              <br/>
              Coming soon.<br/>
              <img src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg" />
            </div>
            <div class="padding-2">
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="inline-block width-400 align-center">
        <div class="margin-10 inline-block">
          <div class="box-shadow">
            <div class="border-10 border-clean-white">
              <div class="border-1 border-clean-gray">
                <img src="/assets/screenshot.gif" width="350"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://gitmarkdown.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

      </div>
    </div>
  </body>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40622291-2', 'auto');
  ga('send', 'pageview');

</script>

</html>
